/* Tipografías*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Quicksand", sans-serif;
    ;
}

p {
    font-family: "Ubuntu", sans-serif;
    
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
}

/* HEADER Y DEBAJO LO QUE CONLLEVA */

.header {
    background-color: #535353;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img {
    width: 150px;
    height: auto;
}

/* MAIN */
.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70vh; 
    background-color:rgb(10, 10, 10);
    color: white;
    padding: 80px;
    
}

.main img {
    width: 40%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0.8;
    margin-right: 40px;
}

.contenedor {
    width: 50%;
    padding-right: 20px; 
    text-align: left;
    margin-top: -10px;
    margin-left: 40px;
    
}

.contenedor h1 {
    color: white;
    font-size: 45px;
    margin-top: -20px;
}

.contenedor3 p {
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-size: 24px;
    margin-top: -10px;
    margin-right: 110px;
}

/* Botón de suscribirse con hover */
button {
    padding: 10px 80px;
    background-color: #FFCF40;
    color: black;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    display: block;
    margin-top: 60px;
}

button:hover {
    background-color: #ffcf40d4;
}

a {
    text-decoration: none; /* Elimina el subrayado del enlace */
}

/* MAIN 2 */
.main2 {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
    background-color: rgb(10, 10, 10);
    height: 500px;
    padding: 20px;
    width: 1485px;
    position: relative;
}

/* TEXTOS DE LA PRIMERA SECCION // ALINEACIONES, COLOR,ETC */
.texto-izquierda{
    color: white;
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 50px;
}

.texto-derecha {
    color: white;
    margin-left: 20px;
    margin-right: 50px;
    margin-top: 50px;
}

.parrafo-izquierda{
    color: white;
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 50px;
}

.parrafo-derecha {
    color: white;
    margin-left: 20px;
    margin-right: 80px;
}

/* Estilos adicionales para cada texto si es necesario */
.parrafo-izquierda , .parrafo-derecha{
    margin-top: -190px;
    padding: 0px;

}

p {
    font-size: 24px;
}

h2 {
    font-size: 32px;
}

.negrita-amarillo {
    font-weight: bold;
    color: #FFCF40;
}

/* Eliminar espacio entre las secciones main */
.main,
.main2,
.main3,
.main4,
.main5,
.main6 {
    color: #D9D9D9;
    margin-bottom: 0.8px;
}

/* MAIN 3*/
.main3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
    background-color: rgb(10, 10, 10);
    padding: 20px;
    width: 1485px;
    position: relative;
    height: 1250px;
}

.subtitulo-central {
    margin-top: 40px;
    grid-column: 1 / -1;
    text-align: center;
    position: relative;
    color: white;
    margin-bottom: -200px;
}

.imagen-izquierda,
.imagen-derecha,
.nueva-imagen-izquierda,
.cuarta-imagen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-izquierda,
.nueva-imagen-izquierda {
    margin-top: -250px;
}

.imagen-derecha,
.cuarta-imagen {
    margin-top: -250px;
}

.imagen-izquierda, .nueva-imagen-izquierda {
    margin-right: -160px;
}

.imagen-derecha, .cuarta-imagen {
    margin-left: -200px;
}

.imagen-contenedor {
    text-align: center;
    color: white;
}

.imagen-contenedor h3 {
    font-size: 26px;
}

.imagen-contenedor h2 {
    font-size: 32px;
}

.imagen-contenedor p{
    font-size: 24px;
}

/* MAIN 4*/
.main4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
    background-color: rgb(10, 10, 10);
    padding: 20px;
    width: 1485px;
    position: relative;
    height: 650px;
}

.nueva-imagen-derecha {
    text-align: center;
    margin-top: 150px;
    margin-left: -70px;
    margin-right: 70px;
}

.contenido-izquierda {
    text-align: left;
    color: white;
    margin-top: 100px;
    color: white;
    margin-left: 100px;
    margin-right: 50px;
}

.main4 h1 {
    font-size: 32px;
}

.main4 p {
    font-size: 24px;
}

/* MAIN 5*/
.main5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
    background-color: rgb(10, 10, 10);
    padding: 20px;
    width: 1485px;
    position: relative;
    height: 650px;
}

.contenido-derecha {
    color: white;
    text-align: left;
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 100px;
}

.imagen-conteneiner {
    text-align: center;
}

.imagen-conteneiner img {
    display: block;
    margin: 0 auto;
}

.nueva-imagen-izquierdaa {
    text-align: center;
    margin-top: 130px;
    margin-right: 70px;
    margin-left: -70px;
}

.main5 h1 {
    font-size: 32px;
}

.main5 p {
    font-size: 24px;
}

/* MAIN 6*/
.main6 h1 {
    font-size: 32px;
}

.main6 p {
    font-size: 24px;
}

.main6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
    background-color: rgb(10, 10, 10);
    padding: 20px;
    width: 1485px;
    position: relative;
    height: 560px;
    margin-bottom: -25px;
}

.contenido {
    text-align: center;
    color: white;
    margin-top: 100px;
    color: white;
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 50px;
}

.image-cont {
    text-align: center;
    color: white;
    margin-left: 80px;
    margin-right: 70px;
    margin-top: -60px;
}

.imagen-contenedor img {
    display: block; /* Para asegurar que la imagen no se vea afectada por márgenes */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

/* FORMULARIO */
input[type="text"],
input[type="email"] {
    background-color: #fff;
    border: none;
    font-family: "Ubuntu", sans-serif;
    ;
}

/* Estilos para el contenedor del formulario */
.contenido form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para los botones del formulario */
form input[type="text"],
form input[type="email"] {
    width: 210px;
    height: 20px;
    border-radius: 20px; /* Hace que los botones sean ovalados */
    padding: 10px 20px;
    border: none;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-size: 16px; /* Tamaño del texto del botón */
    margin-top: 20px;
}

form select,
form button {
    width: 250px;
    height: 40px;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: #424141;
    font-size: 16px; /* Tamaño del texto del botón */
    margin-top: 20px;
    font-family: "Ubuntu", sans-serif;
    ;
}

/* Estilo específico para el botón de "enviar" */
form button#Participar {
    background-color: #FFCF40;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

/* FOOTER */
footer {
    background-color: #6E6E6E;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.footer1 {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 20px;
    width: 80%;
    max-width: 1200px;
}

.columna1 img {
    width: 160px;
    margin-right: 50px;
    margin-top: 50px;
    margin-left: 100px;
}

.columna1 p {
    font-size: 20px;
    font-family: "Ubuntu", sans-serif;
    ;
    max-width: 450px;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 50px;
}

.columna2 {
    margin-left: 200px;
    margin-top: 50px;
}

.columna2 h3 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
}

.redes-sociales img {
    width: 60px;
    margin: 5px;
}

.footer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: white;
}

.linea-horizontal {
    width: 100%;
    height: 2px;
    background-color: #424141;
    margin-bottom: 20px;
}

.texto-derechos {
    font-size: 18px;
    font-family: "Ubuntu", sans-serif;
    ;
    margin-top: 10px;
    margin-bottom: 30px;
}


/* RESPONSIVE */
@media (max-width: 500px) {
    .header {
        padding: 5px;
    }

    .header img {
        width: 120px;
    }
}
@media (max-width: 500px) {
    .main {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        height: auto; 
        width: 100%;
        box-sizing: border-box; /* Incluye padding y border en el ancho total */
    }

    .main img {
        width: 80%;
        margin: 20px auto;
    }

    .contenedor {
        width: 100%;
        padding-right: 0;
        margin-top: 0;
        text-align: center; 
        display: flex;
        flex-direction: column;
        align-items: center; 
        box-sizing: border-box; 
        margin-left: 5px;
    }
    
    .contenedor h1 {
        font-size: 30px;
        margin-top: 20px;
    }

    .contenedor3 p {
        font-size: 16px;
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 10px;
    }

    button {
        padding: 10px 100px;
        font-size: 16px;
        margin: 40px auto 20px auto; /* Incrementa el margen superior para ajustar la posición vertical */
        display: block;
    }
}

@media (max-width: 500px) {
    
    .main4 {
        grid-template-columns: 1fr; /* Cambia a una sola columna */
        gap: 60px; /* Reducir el espacio entre elementos */
        height: auto; /* Ajusta la altura automáticamente */
        padding: 10px; /* Reduce el espacio interno */
        width: auto; /* Ajusta el ancho automáticamente */
    }

    .contenido-izquierda {
        margin-top: 60px;
        margin-left: 20px; 
        margin-right: 20px; 
    }

    .main4 h1 {
        font-size: 24px; 
        text-align: left; 
        margin-top: -10px; 
    }
    
    .main4 p {
    font-size: 16px;
}

.nueva-imagen-derecha {
        max-width: 100%; /* Establece el ancho máximo de la imagen al 100% del contenedor */
        height: auto; /* Mantiene la proporción de aspecto */
        max-height: 250px; 
        margin-top: -20px;
        margin-bottom: 50px;
        margin-left: 20px;
        margin-right: 20px;
        justify-self: center; /* Centra la imagen horizontalmente */
    }
}
@media (max-width: 500px) {
    .main2 {
        grid-template-columns: 1fr; 
        gap: 5px;
        height: auto; 
        padding: 10px;
        width: auto; 
    }

    .main2 img {
        max-width: 100%;
        height: auto;
        margin-top: 20px;
        margin-right: 20px;
        margin-left: 20px;
    }

    .texto-izquierda { /* bienvenido al cine online*/
        margin-top: 20px;
        margin-left: 20px; 
        margin-right: 20px; 
    }

    .parrafo-izquierda { /* parrafo 1*/
        margin-top: -10px;
        margin-left: 20px; 
        margin-right: 20px; 
    }

    .texto-derecha { /* personaliza tu experiencia*/
        margin-top: 20px;
        margin-left: 20px; 
        margin-right: 20px; 
    }

    .parrafo-derecha { /*parrafo 2*/
        margin-top: -10px;
        margin-left: 20px; 
        margin-right: 20px; 
        margin-bottom: 40px;
    }

    .texto-izquierda {
        order: 1; /* Establece el orden del elemento */
    }

    .parrafo-izquierda {
        order: 2; 
    }

    .main2 img {
        order: 2; 
        justify-self: center; /* Centra la imagen horizontalmente */
    }

    .texto-derecha {
        order: 3; 
    }

    .parrafo-derecha {
        order: 4; /
    }

    p {
        font-size: 1em; 
    }

    h2 {
        font-size: 1.5em; 
    }

    .negrita-amarillo {
        font-size: 1em; 
    }
}

@media only screen and (max-width: 500px) {
    .main3 {
        grid-template-columns: 1fr; 
        gap: 20px; 
        padding: 10px; 
        width: auto; 
        height: auto; 
        
    }

    .subtitulo-central {
        margin-top: 20px;
        margin-bottom: -10px;
    }

    .imagen-izquierda {
        margin-top: 20px; 
        margin-left:10px; 
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .imagen-derecha {
        margin-top: 20px; 
        margin-left:10px; 
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .nueva-imagen-izquierda {
        margin-top: 20px; 
        margin-left:10px; 
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .cuarta-imagen {
        margin-top: 20px; 
        margin-left:10px; 
        margin-right: 10px; 
        margin-bottom: 50px;
    }

    .imagen-contenedor h3 {
        font-size: 20px; 
        margin-left: 20px; 
        margin-right: 20px; 
    }

    .imagen-contenedor p {
        font-size: 16px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .imagen-contenedor img {
        max-width: 80%; 
        height: auto; 
    }
}


@media (max-width: 500px) {
    .main5 {
        grid-template-columns: 1fr; 
        gap: 60px; 
        height: 600px; 
        padding: 10px;
        width: auto; 
    }

    .main5 h1{
        font-size: 24px;
    }

    .main5 p {
        font-size: 16px;
    }

    .contenido-derecha {
        margin-top: 10px; 
        margin-left: 20px;
        margin-right: 20px; 
        text-align: left; 
    }

    .nueva-imagen-izquierdaa {
        max-width: 100%; /* Establece el ancho máximo de la imagen al 100% del contenedor */
        height: auto; /* Mantiene la proporción de aspecto */
        max-height: 250px; 
        margin-top: -150px;
        margin-bottom: 50px;
        margin-left: 20px;
        margin-right: 20px;
        justify-self: center; /* Centra la imagen horizontalmente */
    }

    .imagen-conteneiner {
        margin-top: 60px; 
        justify-self: center; /* Centra la imagen horizontalmente */
    }

    .nueva-imagen-izquierdaa img {
        max-width: 100%; 
        height: auto; 
        max-height: 250px; 
        justify-self: center; /* Centra la imagen horizontalmente */
    }
}
@media (max-width: 500px) {
    .main6 {
        grid-template-columns: 1fr; 
        gap: 20px;
        height: auto;
        padding: 10px; 
        width: auto; 
    }

    .main6 h1{
        font-size: 24px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .main6 p {
        font-size: 16px;
    }

    .contenido {
        text-align: center;
        margin: -40px; 
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .image-cont{
        display: none;
    }

    form button#Participar{
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    .footer1 {
        flex-direction: column; 
        align-items: center; 
        text-align: left; 
    }

    .columna1,
    .columna2 {
        width: 100%; 
        margin-top: 20px; 
    }

    .columna1 img {
        width: 120px; 
        margin-top: 30px; 
        margin-left: 10px; 
    }

    .columna1 p {
        font-size: 16px;
        max-width: 450px; 
        margin-top: 10px; 
        margin-left: 10px; 
        margin-right: 10px;
    }

    .columna2 {
        font-size: 18px;
        margin-top: -30px; 
        margin-left: 35px;
       
    }

    .columna2 h3 {
        margin-bottom: 18px; 
        margin-top: 2px;
        margin-left: -6px; 
    }

    .redes-sociales {
        display: flex; /* Cambiar a un diseño de línea */
        flex-direction: row; /* Alinear elementos en fila */
    }

    .redes-sociales img {
        width: 50px; 
        margin: 10px; 
        margin-left: -6px;
        margin-right: 25px;
    }

    .footer2 {
        margin-top: 10px; 
    }

    .texto-derechos {
        font-size: 14px; 
        margin-top: 5px;
        margin-bottom: 20px;
    }
}
